.apply {
  position: fixed;
  width: 100%;
  max-width: 390px;
  background: #f8f9fa;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  .title {
    font-weight: 800;
    font-size: 17px;
    padding: 16px;
    color: #000;
    text-align: left;
  }
  .close {
    position: absolute;
    right: 16px;
    top: 16px;
  }
  .radio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 16px;
    gap: 5px;
    li {
      font-weight: 700;
      font-size: 15px;
      color: #343a40;
    }
  }
  .hr {
    background: #ced4da;
    margin: 20px 0;
  }
  .input {
    display: block;
    border: 1px solid #868e96;
    color: #868e96;
    font-weight: 400;
    font-size: 13px;
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    max-width: 360px;
    margin: 5px auto;
  }
  .info {
    font-size: 13px;
    font-weight: 400;
    color: #343a40;
    text-align: left;
    padding-left: 16px;
  }
  .info2 {
    color: #868e96;
    font-size: 10px;
    font-weight: 300;
    text-align: left;
    padding-left: 16px;
  }

  .btn {
    display: block;
    text-align: center;
    background: #875300;
    color: #fff;
    margin: 20px auto;
    height: 60px;
    line-height: 60px;
    max-width: 360px;
    width: 100%;
    border-radius: 6px;
    color: #f8f9fa;
    font-size: 17px;
    font-weight: 800;
  }
}

.popupWrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
}
