@use 'src/styles/constants' as c;

.subTitle {
  .floor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 16px 16px 10px;
    border-bottom: 1px solid #f8f9fa;
    font-weight: 600;
    font-size: 17px;
    .arrow {
      width: 24px;
    }
  }

  .title {
    @include c.fontSize(heading2);
    padding: 16px;
  }

  .subTitle {
    @include c.fontSize;
    padding: 0 16px;
    margin-bottom: 25px;
    line-height: 16px;
  }
}
