@use 'src/styles/constants' as c;

.result {
  text-align: center;
  font-family: 'NanumSquareRound';

  .toryResult {
    .toryTitle {
      font-weight: 800;
      font-size: 22px;
      color: #875300;
      margin-top: 60px;
    }

    .toryP1 {
      font-weight: 400;
      font-size: 13px;
      color: #868e96;
      margin: 20px 0;
    }

    .subTitle {
      font-weight: 800;
      font-size: 17px;
      color: #875300;
    }

    .toryP2 {
      font-weight: 700;
      font-size: 15px;
      white-space: pre-line;
      padding: 0 16px;
      margin: 15px 0 35px 0;
    }

    .toryP3 {
      font-weight: 700;
      font-size: 12px;
      color: #495057;
    }

    .shortcuts {
      position: relative;
      height: 72px;
      margin: 15px 0;
    }
  }

  .bestPartner {
  }
}
