.campaign {
  position: relative;
  display: flex;
  height: 100vh;

  font-family: NanumSquareRound;
  background: #f5f5f5;
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
  h2,
  h3,
  p,
  button {
    font-family: NanumSquareRound;
  }
}
