.campaign {
  position: relative;
  display: flex;
  // height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  font-family: NanumSquareRound;
  background: #f5f5f5;

  h2,
  h3,
  p,
  button {
    font-family: NanumSquareRound;
  }
}
