@use 'src/styles/constants' as c;

.navi {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textWrap {
    position: relative;
    z-index: 1;
    min-height: 700px;
    color: #ffffff;

    h1 {
      @include c.fontSize(heading1);
      padding: 80px 15px 0;
      letter-spacing: -1px;
    }

    p {
      @include c.fontSize;
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center;
    }

    .naviList {
      position: absolute;
      bottom: 40px;
      left: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 80%;
      transform: translateX(-50%);

      li {
        height: 110px;
        padding: 10px;
        border: 1px solid #f8f9fa;
      }
    }
  }
}
