@use 'src/styles/constants' as c;

.subTitle {
  .floor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border-bottom: 1px solid #f8f9fa;

    .arrow {
      width: 24px;
    }
  }

  .title {
    @include c.fontSize(heading2);
    padding: 15px;
  }

  .subTitle {
    @include c.fontSize;
    padding: 0 15px;
    margin-bottom: 25px;
  }
}
